<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="toDoItem">
      <h2 data-cy="toDoItemDetailsHeading"><span jhiTranslate="todoApp.toDoItem.detail.title">To Do Item</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ toDoItem.id }}</span>
        </dd>
        <dt><span jhiTranslate="todoApp.toDoItem.description">Description</span></dt>
        <dd>
          <span>{{ toDoItem.description }}</span>
        </dd>
        <dt><span jhiTranslate="todoApp.toDoItem.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'todoApp.ItemStatus.' + toDoItem.status }}">{{ toDoItem.status }}</span>
        </dd>
        <dt><span jhiTranslate="todoApp.toDoItem.user">User</span></dt>
        <dd>
          <span>{{ toDoItem.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/to-do-item', toDoItem.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
